@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: auto;
}
body {
  font-family: "poppins", sans-serif;
  background-color: var(--body_background);
  color: var(--body_color);
}
:root {
  --body_background: #eee7f6;
  --body_color: black;
}
[data-theme="dark"] {
  --body_background: #282c34;
  --body_color: white;
}
